@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


@layer base {
    body {
        @apply font-[Raleway];
       
    }
    a {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:300px;
    
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(217, 72, 133, 0.8),
        hsla(336, 59%, 38%, 0.8)
    )!important
}